
@font-face {
    font-family: minecraft-font;
    src: url('../assets/minecraft-font.otf');
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
}

.pixel-size {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 1cm;
    height: 1cm;
}

.game-menu-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.game-menu-button {
    display: block;
    text-align: center;
    width: 400px;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    color: white;
    font-family: minecraft-font, serif;
    background-color: #606060;
    cursor: pointer;
}

.game-menu-button:hover {
    background-color: #505050;
}

.game-menu-button > span {
    margin: auto;
    display: block;
    position: relative;
}

.game-settings-button {
    display: block;
    position: absolute;
    width: 60px;
    padding: 2px;
    margin-right: 10px;
    /*transition: background-color 300ms ease-in-out;*/
}

.game-settings-button:hover {
    filter: brightness(90%);
    /*background-color: rgba(80, 8 20);*/
}